:root {
    --line-border-fill: #370617;
    --line-border-empty: #ffcdb2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: aliceblue;
    align-items: center;
}

h1 {
    margin-bottom: 5rem;
    color: #370617;
}

.container{
    text-align: center;
}

.progress-container {
    display: flex;
    max-width: 100%;
    width: 500px;
    justify-content: space-between;   /* 1 2 3 4 5  şeklinde esit bosluklu yapar */
    position: relative;
    margin-bottom: 4rem;
}

.progress-container::before {
    content: "";           /* İçine daha sonra yazılacak şeyler gelebilsin diye bos atama yapılır! */
    background-color: var(--line-border-empty);
    height: 0.5rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.progress {
    background-color: var(--line-border-fill);
    height: 10px;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.circle {
    background-color: #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 16px;
    font-size: 18px;
    margin: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
}